*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    cursor:url(cursor.png),auto;
}

body{
    background-image: url(bg-1.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    background-color: black;
    width: 75%;
    height: 100vh;
}

section{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* WELCOME PAGE */
.header{
    color: white;
    text-align: center;
    margin: 20px;
}

.message-container{
    color: white;
    text-align: center;
    top: 30%;
    left: 60%;
    transform: translate(-70%, -40%);
    position: absolute;
}

#message{
    animation: pulse;
    animation-duration: .5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#message-text{
    transform: rotate(10deg);
}

@keyframes pulse{
    from{
        transform: scale(1);

    }
    to{
        transform: scale(1.1);
    }
}

/* WINDOW */
.window{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: fit-content;
    border: 3px solid blue;
    padding: 0;
    margin: 0;
    border-radius: 5px 5px 0px 0px;
}

.box{
    height: 20px;
    background-color: blue;
    width: 100%;
}